:root {
  --brown: rgb(73, 19, 19);
  --gray: rgb(196, 176, 176);
  --yellow: #fae100;
  --horizontal-space: 25px;
  --main-border: 1px solid rgb(73, 19, 19);
  --text-color-gray: rgba(0, 0, 0, 0.5);
}
