#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 20px;
  font-weight: 600;
  color: var(--brown);
  font-size: 18px;
}

#friends-display-link i {
  color: var(--brown);
  margin-right: 5px;
  margin-left: 10px;
}

.friends-screen__channel {
  margin-top: 25px;
  padding-top: 15px;
  border-top: var(--main-border);
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--brown);
}

@keyframes hidesplashscreen {
  from {
    opacity: 1;
  }
  to {
    /* opacity: 0;
    visibility: hidden; */
  }
}

#splash-screen {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hidesplashscreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}

#container {
  text-align: center;
  padding: 50px;
  border-radius: 40px;
  box-shadow: 0.1vw 0vw 0.25vw #ffffff8e, 0.2vw 0vw 0.25vw #ffffff8e,
    -0.2vw 0vw 0.1vw#ffffff8e, -0.4vw 0vw 0.1vw #ffffff8e,
    -0.1vw 0vw 0.8vw#ffffffbd, -0.2vw 0vw 0.8vw #ffffffbd,
    -0.4vw 0vw 0.8vw #ffffffbd, 0.2vw 0vw 0.5vw #ffffffbd,
    -0.1vw 0vw 0.5vw #ffffffbd, -0.2vw 0vw 0.5vw #ffffffbd,
    -0.4vw 0vw 0.5vw #ffffffbd, -0.1vw 0vw 10vw #ffffffbd,
    -0.2vw 0vw 10vw #f0d90bcb, -0.4vw 0vw 10vw #f0d90bcb;
}

.fastfood {
  color: #28d7fe;
  margin-right: 10vw;
  font-family: "Mr Dafoe", cursive;
  font-size: 8vw;
  transform: rotate(-10deg);
  animation: fastfood 2s 0s ease forwards;
}

@keyframes fastfood {
  22%,
  42%,
  100% {
    text-shadow: -0.1vw 0vw 0.1vw #28d7fe, -0.15vw 0vw 0.2vw #28d7fe,
      -0.2vw 0vw 0.2vw #28d7fe, -0.1vw 0vw 3vw #1041ff, -0.2vw 0vw 3vw #1041ff,
      -0.4vw 0vw 3vw #1041ff, -0.1vw 0vw 5vw #1041ff, -0.2vw 0vw 5vw #1041ff,
      -0.4vw 0vw 0.8vw #1041ff, 0.2vw 0vw 10vw #1041ff;
    color: #28d7fe;
  }
  0%,
  20%,
  40% {
    text-shadow: -0.1vw 0vw 0.1vw #705c12, -0.15vw 0vw 0.2vw #705c12,
      -0.2vw 0vw 0.2vw #705c12, -0.1vw 0vw 0.1vw #5c0704,
      -0.2vw 0vw 0.1vw #5c0704, -0.4vw 0vw 0.1vw #5c0704,
      -0.1vw 0vw 0.2vw #5c0704, -0.2vw 0vw 0.2vw #5c0704,
      -0.4vw 0vw 0.2vw #5c0704, 0.2vw 0vw 0.5vw #5c0704;
    color: #705c12;
  }
}

.talk {
  color: #a9ffdc;
  margin-bottom: 10px;
  font-family: lasenter;
  font-size: 6vw;
  margin-left: 21vw;
  margin-top: -0.75vw;
  animation: talk 2s 0s ease forwards;
}
@keyframes talk {
  32%,
  52%,
  100% {
    text-shadow: -0.1vw 0vw 0.1vw #a9ffdc, -0.15vw 0vw 0.2vw #a9ffdc,
      -0.2vw 0vw 0.2vw #a9ffdc, -0.1vw 0vw 3vw #00cc2a, -0.2vw 0vw 3vw #00cc2a,
      -0.4vw 0vw 3vw #00cc2a, -0.1vw 0vw 5vw #00cc2a, -0.2vw 0vw 5vw #00cc2a,
      -0.4vw 0vw 0.8vw #00cc2a, 0.2vw 0vw 10vw #00cc2a;
    color: #a9ffdc;
  }
  0%,
  30%,
  50% {
    text-shadow: -0.1vw 0vw 0.1vw #705c12, -0.15vw 0vw 0.2vw #705c12,
      -0.2vw 0vw 0.2vw #705c12, -0.1vw 0vw 0.1vw #5c0704,
      -0.2vw 0vw 0.1vw #5c0704, -0.4vw 0vw 0.1vw #5c0704,
      -0.1vw 0vw 0.2vw #5c0704, -0.2vw 0vw 0.2vw #5c0704,
      -0.4vw 0vw 0.2vw #5c0704, 0.2vw 0vw 0.5vw #5c0704;
    color: #705c12;
  }
}

.welcome {
  font-family: "Offside", cursive;
  font-size: 8vw;
  margin-left: 1.5vw;
  animation: welcome 2s 0s ease forwards;
}

@keyframes welcome {
  42%,
  62%,
  100% {
    text-shadow: -0.1vw 0vw 0.1vw #fed128, -0.15vw 0vw 0.2vw #fed128,
      -0.2vw 0vw 0.2vw #fed128, -0.1vw 0vw 3vw #eb2c25, -0.2vw 0vw 3vw #eb2c25,
      -0.4vw 0vw 3vw #eb2c25, -0.1vw 0vw 5vw #eb2c25, -0.2vw 0vw 5vw #eb2c25,
      -0.4vw 0vw 0.8vw #eb2c25, 0.2vw 0vw 10vw #eb2c25;
    color: #fed128;
  }

  0%,
  40%,
  60% {
    text-shadow: -0.1vw 0vw 0.1vw #705c12, -0.15vw 0vw 0.2vw #705c12,
      -0.2vw 0vw 0.2vw #705c12, -0.1vw 0vw 0.1vw #5c0704,
      -0.2vw 0vw 0.1vw #5c0704, -0.4vw 0vw 0.1vw #5c0704,
      -0.1vw 0vw 0.2vw #5c0704, -0.2vw 0vw 0.2vw #5c0704,
      -0.4vw 0vw 0.2vw #5c0704, 0.2vw 0vw 0.5vw #5c0704;
    color: #705c12;
  }
}

/* .splash-screen__icon img {
  width: 400px;
  height: 350px;
  margin-right: 30px;
  margin-bottom: 35px;
}

.splash-screen__icon span {
  display: block;
  text-align: center;
  color: rgba(189, 154, 154, 0.87);
  font-size: 53px;
  font-weight: 600;
  animation: blinkletters 0.5s ease-in-out infinite;
}

@keyframes blinkletters {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
} */
