.more-screen .icon-row {
  margin-top: 30px;
}

.more-suggestions {
  margin-top: 30px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.more-suggestions__title {
  margin-bottom: 30px;
  color: var(--brown);
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
}

.more-suggestions__icon {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--brown);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  transition: translate 1s ease-in-out;
  cursor: pointer;
}

.more-suggestions__icon-image:hover {
  transform: translatey(-10px);
}

.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}
