.screen-header {
  background-color: var(--brown);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 10px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  cursor: pointer;
  margin-left: 25px;
}

.screen-header__title:hover,
.screen-header__icons .fa-search:hover,
.screen-header__icons .fa-music:hover,
.screen-header__icons .fa-comment:hover {
  animation: scaleHeader 0.4s ease-out infinite;
}

@keyframes scaleHeader {
  0% {
    transform: scale(none);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(none);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotatecog 1s linear infinite;
}
@keyframes rotatecog {
  from {
    transform: none;
  }
  to {
    transform: rotatez(360deg);
  }
}
